In [26]:
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
df_cumulative1 = pd.read_csv("1. State Cumulative Data.csv")
df_cumulative2 = pd.read_csv("2. states.csv")

In [20]:
df_cumulative1

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,Total,2674332,1945558,51407,676861,17-08-2020 19:44,506,TT,27028,27482,362,NaN
1,Maharashtra,595865,417123,20037,158395,16-08-2020 20:14,310,MH,0,0,0,310 cases are marked as non-covid deaths in MH...
2,Tamil Nadu,343945,283937,5886,54122,17-08-2020 19:44,0,TN,5890,5667,120,[July 22]: 444 backdated deceased entries adde...
3,Andhra Pradesh,296609,209100,2732,84777,17-08-2020 18:25,0,AP,6780,7866,82,Total includes patients from other states and ...
4,Karnataka,226966,141491,3956,81510,16-08-2020 21:07,9,KA,0,0,0,NaN
5,Delhi,152580,137561,4196,10823,16-08-2020 18:27,0,DL,0,0,0,[July 14]: Value for the total tests conducted...
6,Uttar Pradesh,158216,104808,2515,50893,17-08-2020 18:39,0,UP,3798,4376,66,NaN
7,West Bengal,116498,86771,2428,27299,16-08-2020 21:56,0,WB,0,0,0,NaN
8,Bihar,106618,76706,542,29369,17-08-2020 18:25,1,BR,2525,4140,5,NaN
9,Telangana,92255,70132,703,21420,17-08-2020 09:29,0,TG,894,2006,10,[July 27]\nTelangana bulletin for the previous...
10,Gujarat,78783,61596,2785,14402,16-08-2020 20:06,0,GJ,0,0,0,NaN
11,Assam,76876,55216,189,21468,16-08-2020 22:54,3,AS,0,0,0,Includes 1 case from Nagaland
12,Rajasthan,61989,46652,886,14451,17-08-2020 11:28,0,RJ,693,48,10,NaN
13,Odisha,62294,42277,406,19611,17-08-2020 12:38,0,OR,2244,0,10,[July 12th] 20 non-covid deaths reported in st...
14,Haryana,47153,39601,538,7014,16-08-2020 19:17,0,HR,0,0,0,[Aug 2]: 21 Foreign Evacuees have been merged ...
15,Madhya Pradesh,46385,35025,1128,10232,17-08-2020 19:23,0,MP,930,987,23,NaN
16,Kerala,46140,30025,170,15891,17-08-2020 19:13,54,KL,1725,1131,13,Mahe native who expired in Kannur included in ...
17,Punjab,31206,19431,812,10963,16-08-2020 20:19,0,PB,0,0,0,NaN
18,Jammu and Kashmir,28892,21296,548,7048,17-08-2020 18:25,0,JK,422,353,6,NaN
19,Jharkhand,23224,14747,244,8233,16-08-2020 23:27,0,JH,0,0,0,NaN
20,Chhattisgarh,15621,10235,142,5244,16-08-2020 23:28,0,CT,0,0,0,NaN
21,Uttarakhand,12175,8100,152,3879,16-08-2020 20:56,44,UT,0,0,0,NaN
22,Goa,11994,8058,111,3825,17-08-2020 19:32,0,GA,355,283,7,NaN
23,Tripura,7219,5286,59,1856,17-08-2020 09:22,18,TR,143,135,4,[Aug 4]\nTripura bulletin for the previous day...
24,Puducherry,8029,4627,114,3288,17-08-2020 18:10,0,PY,297,184,4,NaN
25,Manipur,4687,2734,17,1936,17-08-2020 18:52,0,MN,118,102,1,NaN
26,Himachal Pradesh,4156,2720,18,1376,16-08-2020 22:07,42,HP,0,0,0,HP has 43 Migrated cases which are reduced fro...
27,Nagaland,3455,1530,7,1911,17-08-2020 19:44,7,NL,61,108,0,NaN
28,Arunachal Pradesh,2701,1808,5,888,16-08-2020 22:47,0,AR,0,0,0,[July 25]: All numbers corresponding to Papum ...
29,Andaman and Nicobar Islands,2399,1226,28,1145,16-08-2020 22:17,0,AN,0,0,0,NaN
30,Ladakh,1948,1356,14,578,16-08-2020 23:28,0,LA,0,0,0,NaN
31,Chandigarh,2216,1183,30,1001,17-08-2020 19:33,2,CH,114,46,1,NaN
32,Dadra and Nagar Haveli and Daman and Diu,1908,1480,2,410,17-08-2020 18:53,16,DN,27,49,0,NaN
33,Meghalaya,1374,675,6,693,16-08-2020 17:28,0,ML,0,0,0,[June 17]:\nOne case was identified to be fals...
34,Sikkim,1167,673,1,493,16-08-2020 23:27,0,SK,0,0,0,NaN
35,Mizoram,789,372,0,417,17-08-2020 18:11,0,MZ,12,1,0,NaN
36,State Unassigned,0,0,0,0,19-07-2020 09:40,0,UN,0,0,0,MoHFW website reports that these are the 'case...
37,Lakshadweep,0,0,0,0,26-03-2020 07:19,0,LD,0,0,0,NaN

In [19]:
df_cumulative2

,Date,State,Confirmed,Recovered,Deceased,Other,Tested
0,2020-01-30,Kerala,1,0,0,0,NaN
1,2020-01-30,India,1,0,0,0,NaN
2,2020-02-02,Kerala,2,0,0,0,NaN
3,2020-02-02,India,2,0,0,0,NaN
4,2020-02-03,Kerala,3,0,0,0,NaN
...,...,...,...,...,...,...,...
5580,2020-08-18,Tripura,7424,5404,62,18,223966.0
5581,2020-08-18,India,2764092,2035143,53018,514,30941264.0
5582,2020-08-18,Uttar Pradesh,162434,109607,2585,0,3966848.0
5583,2020-08-18,Uttarakhand,12961,8724,164,49,273357.0
5584,2020-08-18,West Bengal,122753,92690,2528,0,1382198.0

In [21]:
df = df_cumulative2.fillna(0)

In [22]:
df

,Date,State,Confirmed,Recovered,Deceased,Other,Tested
0,2020-01-30,Kerala,1,0,0,0,0.0
1,2020-01-30,India,1,0,0,0,0.0
2,2020-02-02,Kerala,2,0,0,0,0.0
3,2020-02-02,India,2,0,0,0,0.0
4,2020-02-03,Kerala,3,0,0,0,0.0
...,...,...,...,...,...,...,...
5580,2020-08-18,Tripura,7424,5404,62,18,223966.0
5581,2020-08-18,India,2764092,2035143,53018,514,30941264.0
5582,2020-08-18,Uttar Pradesh,162434,109607,2585,0,3966848.0
5583,2020-08-18,Uttarakhand,12961,8724,164,49,273357.0
5584,2020-08-18,West Bengal,122753,92690,2528,0,1382198.0

In [25]:
df.groupby('State').sum()

,Confirmed,Recovered,Deceased,Other,Tested
State,,,,,
Andaman and Nicobar Islands,38338,18923,357,15,1.645286e+06
Andhra Pradesh,6097739,3531005,61161,0,1.116242e+08
Arunachal Pradesh,64547,35877,148,0,3.852310e+06
Assam,1937088,1337339,4542,273,5.264552e+07
Bihar,2485406,1646924,14620,30,3.728027e+07
Chandigarh,67811,43636,1002,22,9.335300e+05
Chhattisgarh,447813,307069,2866,0,1.876390e+07
Dadra and Nagar Haveli and Daman and Diu,50655,32939,78,446,2.906326e+06
Delhi,8051376,6180905,236313,0,6.055043e+07
Goa,286418,181835,2081,0,7.426862e+06
Gujarat,3835324,2667889,180476,0,4.910910e+07
Haryana,1795057,1355824,22874,0,3.492121e+07
Himachal Pradesh,132255,81916,989,1483,8.754300e+06
India,87815923,56228978,2063453,19375,1.138347e+09
Jammu and Kashmir,1060015,642687,18011,0,3.931117e+07
Jharkhand,562338,296194,5218,0,1.789258e+07
Karnataka,5383281,2660116,98196,550,7.982320e+07
Kerala,1118710,642247,4277,977,3.951286e+07
Ladakh,84633,58265,265,0,1.401455e+06
Madhya Pradesh,1890428,1310156,63428,0,4.519310e+07
Maharashtra,23053568,13463053,863141,12575,1.268271e+08
Manipur,141589,79157,209,0,4.869672e+06
Meghalaya,33820,12023,267,0,2.088263e+06
Mizoram,22425,11263,0,0,1.167542e+06
Nagaland,87162,33095,144,95,1.967604e+06
Odisha,1534338,1043432,9884,0,3.347398e+07
Puducherry,170153,96837,2479,0,2.290637e+06
Punjab,915974,597581,22404,0,3.347992e+07
Rajasthan,2434838,1755746,44875,0,9.473199e+07
Sikkim,27073,12454,25,65,1.288967e+06
State Unassigned,344940,0,0,0,0.000000e+00
Tamil Nadu,12314875,8745196,185576,0,1.501815e+08
Telangana,2964984,2032443,30588,0,2.060898e+07
Tripura,233072,152736,953,723,8.724471e+06
Uttar Pradesh,4336342,2652096,89125,0,1.208764e+08
Uttarakhand,384262,245521,4639,2121,9.382624e+06
West Bengal,3427276,2264599,92242,0,5.468778e+07